<section>
    <div class="account-main-wrapper">
        <div class="profile-image my-3">
                <div class="image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F59523" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                      </svg>
                </div>             
        </div>
        <div class="rating my-3">
           
                <h2>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                </h2>
          
        </div>
        
        <div class="contact">
           
            <p class="name-text">Silas Sangmin</p>
            <p class="phone"> <i class="bi bi-telephone-fill"></i> +233542893998</p>
            <p class="email"><i class="bi bi-envelope"></i> sangminsilas@gmail.com</p>
            <p class="vehicle-no"><i class="bi bi-taxi-front-fill"></i> X-3929-23</p>
        </div>
    </div>
</section>

<app-bottom-nav></app-bottom-nav>