body{
    background: #e3e3e3;
}
.account-main-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /*justify-content: center;*/
    padding-top: 80px;
    
}
.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 i,i{
    color: #F59523;
}
.profile-image .image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F59523;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-main-wrapper p{
    width: 80%;
    padding: 10px 10px;
    border:1px solid #F59523;
    border-radius: 10px;
}
.rating, .profile-image,.name{
    width: 100%;
}
.contact{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

