<div class="main-wrapper">
    <div class="total-trips">
        <div class="trips-content">
            <h3>Total Trips</h3>
            <h3 class="trips-text">20</h3>
        </div>
    </div>
    <div class="total-earning">
        <div class="earning-content">
            <h3 class="earning-title">Total Earning</h3>
            <h3 class="earning-text">Ghc20.00</h3>
        </div>
    </div>
    <div class="owing">
        <div class="trips-content">
            <h3>Owings</h3>
            <h3>Ghc20.00</h3>
        </div>
        <div class="pay-wrapper">
            <button class="pay-btn">Pay</button>
        </div>

    </div>

</div>

<app-bottom-nav></app-bottom-nav>