<div class="main-container">
  <div class="heading">
    <svg routerLink="/choose-destination" xmlns="http://www.w3.org/2000/svg" width="10.292" height="18"
      viewBox="0 0 10.292 18">
      <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
        d="M14.349,15.193,21.16,8.387a1.281,1.281,0,0,0,0-1.817,1.3,1.3,0,0,0-1.822,0l-7.717,7.712a1.284,1.284,0,0,0-.038,1.774l7.749,7.765A1.287,1.287,0,1,0,21.155,22Z"
        transform="translate(-11.246 -6.196)" />
    </svg>
    <span class="label"> Available drivers </span>
  </div>


  <!-- Add validation for whether entered amount is less than taxi petrol price for that trip -->

  <button class="btn">Request ride</button>
</div>