/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: Sen-Bold;
  src: url(assets/fonts/Sen-Bold.otf) format("opentype");
}

@font-face {
  font-family: Sen-ExtraBold;
  src: url(assets/fonts/Sen-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: Sen-Regular;
  src: url(assets/fonts/Sen-Regular.otf) format("opentype");
}

* {
  font-family: 'Sen-Regular', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-wrapper{
  z-index: 111;
  position:absolute;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F6FA;
  padding: 1.5rem 1rem;
  height: 60px;

  /*border: 1px solid red; */
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 90px;
  padding: 1rem;
  
}

.nav-active{
  /* border: 1px solid red; */
  /* background-color: bisque; */
  color: #F59523 !important;
}