.googleMap {
  width: 100%;
  height: 100vh;
}

.center-btn {
  /*position: absolute;
  bottom: 140px;
  right: -50px;*/
  width: fit-content;
}

.bottom-tab {
  background-color: white;
  height: 180px;
  width: 92%;
  position: absolute;
  bottom: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1rem;
}

.input {
  background-color: #F5F6FA;
  height: 55px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  border: none;
  background-color: inherit;
}

input:focus {
  outline: none;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  margin-top: 1rem;
}

.position-card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 25px #DCEFF5;
  font-size: 12px;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  margin-right: 9px
}

.pad {
  padding: 1rem;
}

.location {
  margin-left: 8px;
}

.location-text {
  color: #F59523;
}

.ride-action{
  position: absolute;
  /*width: 80%;*/
  bottom: 10px;
  right: 80px;
  left:80px;
  height: 50px;
  background-color: #DCEFF5 ;
  border-radius: 45px;
}
.btn-cancel{
  width: 100%;
  height: 100%;
  background: #F59523;
  color: #ffffff;
  border-radius: 45px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
}
